@using TestNET.ViewModels
@model SaveModel

<div class="text-center">
    <h1 class="display-4">Results</h1>

    <h2>Source - @Model.Source</h2>

    @{ // here links output
        foreach (var link in Model.ScannedLinks)
        {
            <div>
                <a> @link </a>
            </div>
        }
    }

    <form asp-controller="Home" asp-action="Save" method="post">
        <input asp-for="ContentString" value="@Model.ContentString" type="hidden">
        <input class="btn d-block btn-success" value="Save" type="submit">
    </form>
</div>